/*
    Timos Web App
    
    Jeu de couleurs
        Couleur rouge ooredoo   : #ec1c24
        Couleur bleu foncé      : #21314d
        Couleur bleu clair      : #007bbe (Logo timos)
        Couleur gris fond       : #f2f4f7
        Couleur gris panel      : #fcfcfd  
        Couleur orange          : #ff8e01
        Couleur vert            : #5cb85c
        Couleur rouge           : #d9534f

    Typographie : 
*/

/* Eléments communs */
body {
    background-color: #f2f4f7;
}
h1{
    font-size:26px;
    color:#21314d;
}
h3{
    margin-top:10px;
}
.infos-sous-titre{
    font-size: 16px;
    margin-bottom:20px;
}
.btn-primary {
    background-color: #21314d;
    border-color: #21314d;
}


/* Ecran de login */
.form-login {
    margin: 50px auto;
    padding: 20px 30px 20px 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.09);
    max-width: 360px;
    border-radius: .3125em;
    border: 1px solid #DCE3E6;
    background-color: white;
}
.input-group-addon.login-input {
    background-color: transparent;
}
.login-logo{
    background-image:url("../TimosWebApp/Images/logo-ooredoox.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 60px;
    width: 100%;
    background-size: contain;
}

/* Barre de navigation */
.navbar-default {
    background-color : #ec1c24;
    border : 0px;
    border-radius : 0px;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #f2f4f7;
    background-color: transparent;
}
a.navbar-brand{
    padding-top:0px;
}
img.logo{
    height : inherit;
    padding: 4%;
}

/* Liste des todos */
.section-filtre{
    background-color: #fcfcfd;
    padding: 2%;
    margin-bottom: 0px;
    border: 1px solid #DCE3E6;
    border-radius: 6px 6px 0px 0px;
}
.input-group-addon.filter-input {
    background-color: #fff;
}
.section-filtre .form-check{
    background-color:#f2f4f7;
    padding: 1% 4%;
    margin-bottom: 2px;
}
.section-filtre input[type="checkbox"] {
    vertical-align: baseline;
}
.section-filtre .form-check-label{
    margin-top : 3%;
    margin-left : 4%;
    color: gray;
}
.compteur-todos {
    font-size: 18px;
    text-align: right;
    margin: 0px;
    padding: 1%;
}
.compteur-todos span{
    color : #ff8e01;
    font-weight:bold;
}
.section-liste{
    background-color: white;
    margin-bottom: 20px;
    border-radius: 0px 0px 6px 6px;
    border: 1px solid #DCE3E6;
}
.section-liste .col-no-padding{
    padding:0px;
}
#ListeTodos-GridListeTodos thead > tr {
    height: 60px;
    color:gray;
}
#ListeTodos-GridListeTodos thead > tr > th {
    padding: 8px 8px 16px 8px;
}
#ListeTodos-GridListeTodos tbody > tr {
    background-color: #fff;
    border: solid #DCE3E6;
    border-width:1px 0px;
    height: 66px;
}
#ListeTodos-GridListeTodos tbody > tr:hover{
    cursor:pointer;
    background-color:#fcfcfd;
}
#ListeTodos-GridListeTodos tbody > tr > td {
    padding: 8px;
    border: 0px;
}
#ListeTodos-GridListeTodos tbody > tr > td.gclibelle {
    font-weight: bold;
}
#ListeTodos-GridListeTodos tbody > tr > td.gcetattodo > span {
    color: transparent;
}
#ListeTodos-GridListeTodos tbody > tr > td.gcetattodo > span:before {
    font-family: 'Font Awesome 5 Free';
    width: 16px;
    height: 16px;
    display: inline-block;
    font-weight: 900;
}
#ListeTodos-GridListeTodos tbody > tr > td.gcEtatTodo2 > span:before {
    color: #ff8e01;
    content: "\f044"; /* fas fa-edit */
}
#ListeTodos-GridListeTodos tbody > tr > td.gcEtatTodo3 > span:before {
    color: #5cb85c;
    content: "\f00c"; /* fas fa-check */
}
#ListeTodos-GridListeTodos tbody > tr > td.gcEtatTodo6 > span:before {
    color: #d9534f;
    content: "\f017"; /* far fa-clock */
}

@media (max-width: 767px) {
    #ListeTodos-GridListeTodos tbody > tr > td.gclibelle {
        float: left;
    }
    #ListeTodos-GridListeTodos tbody > tr > td.gcstartdate {
        float: left;
    }

    #ListeTodos-GridListeTodos thead > tr > th.gcstartdate {
        display: none;
    }
}

/* Détail d'un todo */
.section-titre{
    margin-bottom:2%;
}
.section-instructions{
    background-color:#fff;
    padding-top: 2%;
    padding-bottom: 1%;
    margin-bottom:20px;
    border-radius: 6px;
    border: 1px solid #DCE3E6;
}
.infos-icone{
    font-size:22px;
    color: #ff8e01;
}

[aas-type="Bootstrap.BootstrapGrid"] > table > tbody > tr > td div.true, .aasDynamicControl div.aasValueZone.true  {
    position: relative;
}

[aas-type="Bootstrap.BootstrapGrid"] > table > tbody > tr > td div.true:before, .aasDynamicControl div.aasValueZone.true:before {
    font-family: 'Font Awesome 5 Free';
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 2px;
    font-weight: 900;
    content: "\f00c";
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover {
    background-color: #ec1c24;
    color: white;
}
.nav-tabs > li > a {
    border-radius: 0px;
    color: #ec1c24;
    padding: 16px 22px;
    border: 1px solid #DCE3E6;
}
.tab-content{
    padding:2px 20px;
}
/* Tab champs todo */
.aasTabChampsTodo > a:before{
    font-family: 'Font Awesome 5 Free';
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 2px;
    font-weight: 900;
    content: "\f044"; /* fa-edit */
}
/* Tab documents attendus */
.aasTabDocumentsAttendusTodo > a:before{
    font-family: 'Font Awesome 5 Free';
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 2px;
    font-weight: 900;
    content: "\f0c6"; /* fa-paperclip */
}
/* Tab informations secondaires */
.aasTabInfosSecondaires > a:before{
    font-family: 'Font Awesome 5 Free';
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 2px;
    font-weight: 900;
    content: "\f05a"; /* fa-info-circle */
}

/* Affichage des documents */
.bouton-niveau1{
    margin-top: 10px;
    margin-bottom: 6px;
}

.gcActionSupprimer, .gcActionVisualiser {
    width: 100%;
    text-align: right;
}

@media (max-width: 480px) {
    .bouton-libelle {
        display: none;
    }

    .gcNomFichier {
        max-width: 230px;
    }
}

/* Groupes de champs */
.titre-groupe{
    margin-top:10px;
    color:white;
    font-size:22px;
}
.section-titre-groupe {
    background-color: #ec1c24;
}
.section-titre-groupe .btn-link{
    color:#fff;
    margin-top:6px;
}
.section-titre-expanded{
    border: solid #DCE3E6;
    border-width:1px 0px 0px 0px;
}
.section-titre-collapsed, section-contenu-groupe{
    border: solid #DCE3E6;
    border-width:1px 0px;
}
.section-contenu-groupe{
    padding-top:8px;
}
.form-horizontal .control-label{
    text-align:left;
}

/* Edition modale */
#EditionTodo .modal-header{
    color:#fff;
    background-color:#ec1c24;
}

/* Confirmation terminer todo */
#ConfirmationEndTodo .modal-header{
    color: #5cb85c;
}
#ConfirmationEndTodo .alert-warning {
    color: #fff;
    background-color: #ff8e01;
}

/* Init property grid générale */
.form-group{
    margin-bottom: 2px;
}
.form-control-static:not(.aasBoolean){
    border: 2px solid #fff;
    border-radius: 4px;
    padding-left: 12px;
    background-color: #f2f4f7;
}
.sous-titre-champ{
	background-color: aliceblue;
}
.sous-titre-champ .form-control-static{
	border: 0px;
	background-color: transparent;
} 

/* Property Grid Caractéristiques */
.section-caracteristiques .aasRepeaterItem{
    border: solid 1px #ec1c24;
    margin-bottom: 2px;
}
.section-caracteristiques h4 {
    color: #ec1c24;
}
.item-caracteristique{
    margin-top: 8px;
}
.titre-caracteristique{
    background-color: #f2f4f7;
}
.bouton-caracteristique {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Exports */
.bloc-resume-export{
    background-color: white;
    border: 1px solid #DCE3E6;
    border-radius: 6px 6px 6px 6px;
    margin-bottom: 2%;
    margin-right: 1%;
    padding-left: 10px;
    padding-right: 10px;
}
.bloc-resume-export h2{
    font-size: 20px;
    margin-top: 10px;
}
.link-export-excel{
    color : white;
    text-decoration:none;
}